<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<form action="#" th:action="@{/customerspage/addcustomer}" th:object="${customerReqDTO}"method="post">
    <label for="name">Name</label>                                     <!--타입에서앞에만 소문자로-->
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <input type="submit" value="Add Customer">
</form>
</body>
</html>